.vmx-vert-toolbar .toolbar-button:hover{
  zoom: 200%;
}

.toolbar-selected{
  color: green;
}



/*andimation testing**/

/*
#vmx-command-overlay .ng-enter,
#vmx-command-overlay .ng-leave,
#vmx-command-overlay .ng-move
{
  -webkit-transition : all linear .5s;
  -moz-transition    : all linear .5s;
  -o-transition      : all linear .5s;
  transition         : all linear .5s;
}


#vmx-command-overlay .ng-enter,
#vmx-command-overlay .ng-leave.ng-leave-active
{
  opacity : 0;
}

#vmx-command-overlay .ng-leave,
#vmx-command-overlay .ng-enter.ng-enter-active {
  opacity : .8;
}

.thumbnail-container.ng-enter,
.thumbnail-container.ng-leave.ng-leave-active
{
  opacity : 0;
}

.thumbnail-container.ng-leave,
.thumbnail-container.ng-enter.ng-leave-enter{
  opacity : 1;
}

.positives .thumbnail-container.ng-enter {
  opacity : 0;
}

.positives .thumbnail-container.ng-enter.ng-enter-active {
  opacity: 1;
}

.positives .thumbnail-container.ng-leave {
  left    : 0px;
  opacity : 1;
}

.positives .thumbnail-container.ng-leave.ng-leave-active {
  left:400px;
  opacity : 0;
}


.negatives .thumbnail-container.ng-enter {
  opacity: 0;
}

.negatives .thumbnail-container.ng-enter.ng-enter-active {
  opacity: 1;
}

.negatives .thumbnail-container.ng-leave {
  right    : 0px;
  opacity: 1;
}

.negatives .thumbnail-container.ng-leave.ng-leave-active
{
  right:400px;
  opacity:0;
}


.thumbnail-container.ng-enter,
.thumbnail-container.ng-leave,
.thumbnail-container.ng-move{
  -webkit-transition : all linear .5s;
  -moz-transition    : all linear .5s;
  -o-transition      : all linear .5s;
  transition         : all linear .5s;
}

*/
