<div class="thumbnail clickable">
  <caption>
    <h4 class="inline"
    style="text-align:center;">{{model.cls}}</h4>
  <img ng-if="model.image" ng-src="{{model.image}}"
    style="height:100px; align:center;"/>
    <div style="text-align:center;">
      <small>
        <strong>#pos:</strong> {{model.num_pos}}  / 
        <strong>#neg:</strong> {{model.num_neg}} 
        <br/>
        <strong>Size:</strong> {{model.hg_size[0]}}x{{model.hg_size[1]}}
        <br/>
        <strong>Start:</strong> {{unix_to_date(model.start_time)}}
        <br/>
        <strong>End:</strong> {{unix_to_date(model.end_time)}}
      </small>
    </div>
  </caption>
</div>
