<div class="well">
      <nav class="navbar navbar-default">
          <a class="navbar-brand">Code Window</a>
          <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="btn btn-default btn-xs navbar-right" ng-click="vmxui.container.editor_visible = !vmxui.container.editor_visible"><i class="glyphicon glyphicon-remove"></i></a>
          </li>
          </ul>
      </nav>

    <div class="btn-group">
     <a class="btn" href=""><i class="glyphicon-cog glyphicon"></i> Apps</a>
     <a class="btn dropdown-toggle" data-toggle="dropdown" href=""><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="" ng-click="new_app_modal()"><i class="glyphicon-pencil"></i> New App</a></li>
        <li class="dropdown-submenu">
          <a href="">Open App</a>
          <ul class="dropdown-menu">
            <li ng-repeat="entity_app in container.apps">
              <a href="" ng-click="set_current_app($index)">{{entity_app.value.name}}</a>
            </li>
          </ul>
        </li>

        <li ng-if="current_app">
          <a href="" ng-click="save_current_app()">Save App {{current_app.value.name}}</a>
        </li>

        <li class="dropdown-submenu">
          <a href=""><i class="glyphicon-trash"></i>Delete App</a>
          <ul class="dropdown-menu">
            <li ng-repeat="entity_app in container.apps">
              <a href="" ng-click="delete_app($index)">Delete: {{entity_app.value.name}}</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>

    <div ng-if="current_app" class="btn-group">
     <a class="btn" href=""><i class="glyphicon-file glyphicon-black"></i> Code</a>
     <a class="btn dropdown-toggle" data-toggle="dropdown" href=""><span class="caret"></span></a>
      <ul class="dropdown-menu">

        <li><a href="" ng-click="switch_buffer('callback')"><i class="glyphicon-important"></i> Callback</a></li>
        <li class="divider"></li>
        <li><a href="" ng-click="new_file_modal()"><i class="glyphicon-pencil"></i> New File</a></li>

        <li class="dropdown-submenu">
          <a href="">Open File</a>
          <ul class="dropdown-menu">
            <li ng-repeat="file in files">
              <a href="" ng-click="switch_buffer($index)">{{file.name}}</a>
            </li>
          </ul>
        </li>

        <li class="dropdown-submenu">
          <a href=""><i class="glyphicon-trash"></i>Delete File</a>
          <ul class="dropdown-menu">
            <li ng-repeat="file in files">
              <a href="" ng-click="delete_file($index)">Delete File: {{file.name}}</a>
            </li>
          </ul>
        </li>

        <li class="seperator"></li>

        <li class="dropdown-submenu">
          <a href="">Set Keybinding</a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="set_keybinding('vim')">Vim<i ng-if="container.keybinding == 'vim'" class="glyphicon-ok"></i></a></li>
            <li><a href="" ng-click="set_keybinding('emacs')">Emacs<i ng-if="container.keybinding == 'emacs'" class="glyphicon-ok"></i></a></li>
            <li><a href="" ng-click="set_keybinding()">Normal<i ng-if="!container.keybinding" class="glyphicon-ok"></i></a></li>
          </ul>
        </li>


      </ul>
    </div>
  <div ng-if="!current_app">
    <div class="well">
      <p>Please open an app to get started</p>
    </div>
  </div>
  <div ng-if="current_app">

    <div class="above-editor-container clearfix">
      <span class="pull-left">Currently editing: {{currently_editing}}</span>
      <span class="pull-right">
        Run code<input type="checkbox" ng-model="switches.run_code_switch" />
      </span>
    </div>
    <div id="editor-container" class="clearfix" width="100%">
      <div class="ace_editor" style="height:200px;" ui-ace="{onLoad : aceLoaded, mode: 'javascript'}" ng-model="container.script_in_editor"></div>
      <button ng-if="current_file_index && current_file_index !='callback'" class="btn btn-{{compile_status();}}" ng-click="save_file(current_file_index)">
        Save File {{currently_editing}}
      </button> <!-- END button -->
      <button ng-if="current_file_index=='callback'" ng-class="(container.buffers_edited_ns['callback']) ? 'btn btn-primary' : 'btn'" ng-click="save_callback(container.script_in_editor)">
        Compile and Save callback
      </button> <!-- END button -->
      <span ng-if="container.buffers_edited_ns['callback'] && current_file_index == 'callback'">Callback not saved</span>
    </div>
  </div>
</div>
currently_editing = {{currently_editing}} 
current_file_index
