<div class="modal-header">
    <h3>Use external source</h3>
</div>
<div class="modal-body" ng-init='input = "http://192.168.0.178/snapshot.cgi?user=admin&pwd=123456&next_url=tempsnapshot.jpg&count=i"'>
  Enter external source <input type="text" ng-model="input">
  <p>Note: you can enter an imagestream here; VMX will automatically refresh the image as appropriate to create a 'video'</p>
  <p>for example: http://192.168.0.178/snapshot.cgi?user=admin&pwd=123456&next_url=tempsnapshot.jpg&count=
    <a href="" class="btn btn-default btn-lg ng-click="input='http://192.168.0.178/snapshot.cgi?user=admin&pwd=123456&next_url=tempsnapshot.jpg&count='">fill</a>
  </p>
  Or, you can try a youtube video: <input type="text" ng-model="youtube_id"><a class="btn clickable" ng-click="doyoutube(youtube_id)">load youtube</a>  
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(input)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
