<div class="modal-header">
  <nav class="navbar navbar-default">
    <a class="navbar-brand">Advanced Model Editor</a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="btn btn-default navbar-right" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></a>
      </li>
    </ul>
  </nav>
</div>

<div class="modal-body">
  
  
  <!-- <a class="btn btn-success btn-mini" -->
  <!--    ng-click="reverse=!reverse"><i ng-class="(reverse)? 'glyphicon-white -->
  <!--                                             glyphicon-arrow-left' : 'glyphicon-white glyphicon-arrow-right'"></i></a> -->
  <!-- Order: {{reverse}} -->

  <div class="row">
    <div class="col-md-4">
      <strong>Instructions:</strong> Click on an object to swap sides. The goal is to
      take bad positives and move them to the negative side. Remember
      to save the model after you're done.
    </div>
    
    
    <div class="col-md-3">
      <button class="btn btn-primary ladda-button"
              id="update_model_button"
              data-style="zoom-in"
              ng-click="submit_stuff()">
        <span class="ladda-label">Update Model</span>
        <!-- <span class="spinner"></span> -->
      </button>
      <!-- <span class="glyphicon glyphicon-cog"></span> -->
      
    </div>
    
    <div class="col-md-3">
      <div class="input-group">
        
        <span class="input-group-addon"># Learning Updates</span>
        <input class="form-control" ng-model="settings.number_updates" type="number">
      </div><!-- /input-group -->
    </div>
    
    <!-- <div class="col-md-3"> -->
    <!--   <div class="form-inline"> -->
    <!--     <div class="form-group"> -->
    <!--       <div class="col-xs-6"> -->
    <!--         <label><small>#Updates</small></label> -->
            
    <!--         <input class="form-control" type="number" -->
    <!--                ng-model="settings.number_updates"> -->
    <!--       </div> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
    
    <!-- <div class="col-md-2">       -->
    <!--   <a class="btn btn-primary"  -->
    <!--      ng-click="submit_stuff()">Update Model <span class="glyphicon glyphicon-cog"></span></a> -->
    <!-- </div> -->
  </div>


  <br/>

  <div class="row">
    <div class="col-md-6 positives"  style="text-align:center;">
      <div class="well">
        <div ng-if="container.objects">
        <h4>Positives ({{filteredpos.length}})</h4>

        <div class="row">
          <div class="col-xs-3">
            <div class="form-group">
              <label><small>Total</small></label>
              <input class="form-control" type="number" ng-model="settings.max_positives">
            </div>
          </div>

          <div class="col-xs-3">
            <div class="form-group">
              <label><small>Sort Order</small></label>
              <input class="form-control" type="number" ng-model="settings.positives_order">
            </div>
          </div>
          
          <div class="col-xs-3">
            <div class="form-group">
              <label><small>Lowest Score</small></label>
              <input class="form-control" type="text" ng-model="pos.lowest">
            </div>
          </div>
          
          <div class="col-xs-3">
            <div class="form-group">
              <label><small>Max Score</small></label>
              <input class="form-control" type="text" ng-model="pos.highest">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 thumbnail-container magic-animate apositive" 
              ng-repeat="object in filteredpos = (container.objects | classIs: 1 | orderBy:'score' |  scoreIs:'>':pos.lowest | scoreIs: '<': pos.highest)">
            <vmx-exemplar score="object.score" image="{{object.image}}" tyme="{{object.time}}" class="object.class"></vmx-exemplar>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 negatives"  style="text-align:center;">
      <div class="well">
      <div ng-if="container.objects">
        <h4>Negatives ({{filteredneg.length}})</h4>

        <div class="row">
          <div class="col-xs-3">
            <div class="form-group">
              <label><small>Total</small></label>
              <input class="form-control" type="number" ng-model="settings.max_negatives">
            </div>
          </div>

          <div class="col-xs-3">
            <div class="form-group">
              <label><small>Sort Order</small></label>
              <input class="form-control" type="number" ng-model="settings.negatives_order">
            </div>
          </div>
          
          <div class="col-xs-3">
            <div class="form-group">
              <label><small>Lowest Score</small></label>
              <input class="form-control" type="text" ng-model="neg.lowest">
            </div>
          </div>
          
          <div class="col-xs-3">
            <div class="form-group">
              <label><small>Max Score</small></label>
              <input class="form-control" type="text" ng-model="neg.highest">
            </div>
          </div>
        </div>


        <!-- <form class="form-inline"> -->
        <!--   <div class="form-group"> -->
        <!--     <label class="control-label">Total</label> -->
        <!--     <div class="controls"> -->
        <!--       <input class="input-mini" width="20" type="number" ng-model="settings.max_negatives"> -->
        <!--     </div> -->
        <!--   </div> -->
        <!--   <div class="form-group"> -->
        <!--     <label class="control-label">Order</label> -->
        <!--     <div class="controls"> -->
        <!--       <input class="input-mini" type="number" ng-model="settings.negatives_order"> -->
        <!--     </div> -->
        <!--   </div> -->

        <!--   <div class="form-group"> -->
        <!--     <label class="control-label">Lowest Score</label> -->
        <!--     <div class="controls"> -->
        <!--       <input class="input-mini" type="text" ng-model="neg.lowest"> -->
        <!--     </div> -->
        <!--   </div> -->
        <!--   <div class="form-group"> -->
        <!--     <label class="control-label">Max Score</label> -->
        <!--     <div class="controls"> -->
        <!--       <input class="input-mini" type="text" ng-model="neg.highest"> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </form> -->

        <div class="row">
          <div class="col-md-3 thumbnail-container magic-animate anegative" ng-repeat="object in filteredneg  = (container.objects | orderBy:'score':reverse | scoreIs:'>':neg.lowest | scoreIs: '<': neg.highest | classIs:-1)">
            <vmx-exemplar score="object.score" image="{{object.image}}" tyme="{{object.time}}" class="object.class"></vmx-exemplar>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
