<div class="row vmx-vert-toolbar text-center">
  <div class="col-xs-11 col-md-11 col-lg-11">
    <div class="clickable toolbar-button" ng-class="(panel_state('availableDetectors')) ?
                   'toolbar-selected' : ''"
 ng-click="toggle('availableDetectors')" style="overflow:none">
      <span><i class="fa fa-2x fa-plus fa-fw"></i></span>
    </div>

   <div class="clickable toolbar-button" ng-class="(panel_state('createModel')) ?
                   'toolbar-selected' : ''" ng-click="toggle('createModel')" style="overflow:none">
      <span><i class="fa fa-2x fa-eye"></i></span>
    </div>
 

    <div class="clickable toolbar-button"
         ng-class="(panel_state('runningDetectors')) ?
                   'toolbar-selected' : ''" 
         ng-click="(running_detectors.length>0) ? toggle('runningDetectors') :
                   ''"
         style="overflow:none">
      <span> 
       <i class='fa fa-2x fa-fw' ng-class="(running_detectors.length) 
          ? 'fa-list' 
          : 'fa-ban disabled'"></i>
       </span>
    </div>
    <div class="clickable toolbar-button"          
         ng-class="(panel_state('debugOutput')) ?
                   'toolbar-selected' : ''" 
         ng-click="(running_detectors.length>0) ? toggle('debugOutput') :
                   ''"
         style="overflow:none">
      <!-- {{running_detectors.length}} {{panel_state('debugOutput')}} -->
      <span>

       <i class='fa fa-2x fa-fw' ng-class="(running_detectors.length) 
          ? 'fa-bug' 
          : 'fa-ban disabled'"></i>

</span>
    </div>
    <div class="clickable toolbar-button"          ng-class="(panel_state('gitApps')) ?
                   'toolbar-selected' : ''"  ng-click="toggle('gitApps')" style="overflow:none">
      <span><i class="fa fa-2x fa-github-alt fa-fw"></i></span>
    </div>
  </div>
</div>
