<div class="col-md-12" ng-if="ui.panels.availableDetectors">
  <vmx-available-detectors></vmx-available-detectors>
</div>
<div class="col-md-12 dbar" ng-if="ui.panels.gitApps">
  <vmx-git-pane></vmx-git-pane>
</div>
<div class="col-md-12 dbar" ng-if="ui.panels.createModel">
  <vmx-create-model></vmx-create-model>
</div>
<div class="col-md-3 dbar" ng-if="ui.panels.runningDetectors">
  <vmx-running-detectors></vmx-running-detectors>
</div>
<div class="col-md-4 dbar" ng-if="ui.panels.debugOutput">
  <vmx-debug-panel></vmx-debug-panel>
</div>
