
<div class="thumbnail">
<h5>Parameters</h5>
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-sm" ng-if="update_button">
    <!-- NOTE: the saving_mode doesn't work here... -->
    <a class="btn btn-primary" ng-class="{'disabled':saving_mode}"
       ng-click="update_current_parameters()">Update Parameters</a>
    </div>
  <div class="btn-group btn-group-sm" ng-if="update_button">
    <a class="btn btn-default"
    ng-click="expand_all_params()">
      <i class="fa" ng-class="(collapse_state) ? 'fa-plus-square' : 'fa-minus-square'"></i>
    </a> 
  </div>
</div>
<vmx-detector-param param="param" ng-repeat="param in params | includeParams: toInclude()"></vmx-detector-param>
</div>
