<div class="panel" style="box-shadow: 0 0 12px black">
<div class="input-group">
  <span class="input-group-btn" ng-if="!search.id">
    <a 
     ng-click='choose_model()' 
     data-style="zoom-in"
     class='btn btn-primary detector-chooser-spinner ladda-button'
    >
      <span><i class="fa fa-folder-open"></i></span> 
      Load Model
    </a>
  </span>
  <span class="input-group-btn" ng-if="search.id">
    <button ng-click='addDetector(search)' class='btn btn-default'>attach {{search.model.cls}} detector ({{search.id}})</button>
  </span>
  <input 
    id                        = "detector-chooser-input"
    class                     = "form-control"
    placeholder               = "Search existing detectors..({{all_available_connections.length}})"
    ng-model                  = "search"
    typeahead                 = "c as c.model.cls for c in all_available_connections | modelNameContains : search"
    typeahead-input-formatter = "format()"
  >
</div>
<ul class="list-inline" style="height:18px;overflow:hidden;margin-bottom:0px">
<li ng-repeat="t in top_detectors" ng-click="addDetector(t)" class="clickable">{{t.model.cls}}</li>
</div>
