<div class="panel" style="box-shadow:0 0 12px black">
  <!-- Create the dragbar which allows for the GUI element to be dragged around -->
  <div class="panel dragbar">
      <a class="btn btn-default close" ng-click="toggle('runningDetectors')">
        <i class="fa fa-times fa-inverse"></i>
      </a>
      <h4>
        <span><i class="fa fa-list"></i></span>
        Detectors({{running_detectors.length}})
      </h4>
  </div>
  <div ng-init="collapsers=[];params_collapse=[] " class="list-group">
    <div class="list-group-item" ng-repeat="d in running_detectors">
        <button type="button" class="close" title="Detach Detector"
          ng-click="removeDetector(d.connection.id,$index)">
          <i class="fa fa-external-link"></i></button>
        <div class="inner clickable" 
          ng-click="collapsers[$index] = !collapsers[$index]"
          ng-init="collapsers[$index]=true; params_collapse[$index]=true">
          <label>
            {{d.connection.model.cls}}
            <i class="fa"
               ng-class="{'fa-caret-right':collapsers[$index],
                         'fa-caret-down':!collapsers[$index]}"></i>
          </label>
          <div class="detector-collapse-container" ng-if="!collapsers[$index]">
            <vmx-detector-thumbnail model="d.connection.model"></vmx-detector-thumbnail>
          </div>
        </div>
        <div class="detector-collapse-params"
             ng-if="!collapsers[$index]">          
          <div class="btn-group btn-group-xs btn-group-justified">
            <a class="btn" ng-class="{'btn-success':d.params.getLearningMode(),
                                     'btn-info':!d.params.getLearningMode(),
                                     'disabled':saving_mode}"
               ng-click="toggle_learning_mode($index)">

              Learning Mode&nbsp;
              <i class="fa" ng-class="(d.params.getLearningMode()) ? '
              fa-check-square-o' : 'fa-square-o'"></i>
            </a>
          </div>
          <div class="row" ng-if="d.params.getLearningMode()">
            <div class="col-md-12" ng-init='(aggro_slider[$index]) ? aggro_slider[$index] : 1'>
              <span ng-init="aggroSliderInit = false">Learning Mode Aggression</span>
              <slider
                 min="1" 
                 max="100" 
                 step-size="1" 
                 value="aggro_slider[$index]">
              </slider>
            </div>
          </div>
          
          <!-- Add a space so that the glider's bound-value bottom
          numbers do not conflict with the button -->
          <!-- NOTE: find a better fix -->
          <div class="row" ng-if="d.params.getLearningMode()">
            <div class="col-md-1">&nbsp;</div>
          </div>

          <div class="btn-group btn-group-xs btn-group-justified">
            <a class="btn btn-default ladda-button"
               ng-class="(d.params.getLearningMode()) ? 'disabled' : ''"
               data-style="zoom-in" id="save_model_button{{$index}}"
               ng-click="save_model(d.connection,'save_model_button'+$index)">Save
               Model
              <i class="fa fa-save"></i>
            </a>
          </div>
          <div class="param-expander-container">
            <div class="btn-group btn-group-xs btn-group-justified">
              <a class="btn btn-default"
                 ng-class="{'disabled':saving_mode}" ng-click="params_collapse[$index] = !params_collapse[$index]">
                Params&nbsp;
                <i class="fa"
                   ng-class="{'disabled':d.params.getLearningMode()||saving_mode,
                             'fa-caret-right':(params_collapse[$index]),
                             'fa-caret-down':(!param_collapse[$index])}">
                </i>
              </a>
              <a class="btn btn-default"
                 ng-class="(d.params.getLearningMode()||saving_mode) ? 'disabled' : ''"
                 ng-click="modeler_modal(d.connection)">Edit
                 <i class="fa fa-pencil-square-o"></i>
              </a>

              
              
            </div> 
          </div>
          <div ng-if="!params_collapse[$index]">
            <vmx-detector-params to-include="['det']" params="d.params"></vmx-detector-params>
          </div>
        </div>
    </div>
  </div>
</div>

