<div class="panel" ng-init="container.debug_index = 0"
     style="box-shadow: 0 0 12px black">
  <div class="panel dragbar">
  <a class="btn btn-default close"
  ng-click="toggle('debugOutput')"><i class="fa fa-times
  fa-inverse"></i></a>

    <div class="row">
      <div class="col-md-9">
        <h4><span><i class="fa fa-bug"></i></span>
          Debug Output</h4>
      </div>
    </div>

</div>
  <div class="btn-group">
    <a class="dropdown-toggle btn btn-default clickable" 
       data-toggle="dropdown">
        Detectors
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="detector in running_detectors">
        <a class="clickable" ng-click="container.debug_index = $index">{{detector.connection.model.cls}}</a>
      </li>
    </ul>
  </div>
  <div class="pane-container">
    <h5>{{running_detectors[container.debug_index].connection.model.cls}}</h5>
    <vmx-json-pane binding="running_detectors[container.debug_index].short_response"></vmx-json-pane>
  </div>
</div>
